# pandasBasics

## In this file we perform basic operations like
 - Import File
 - Access Data
 - Update Data
 - Save Updated File

In [1]:
import pandas as pd
from time import time

# Importing files

In [2]:
df = pd.read_csv("Data\pokemon_data.csv")

In [3]:
# READ EXCEL FILE

# df_xlsx = pd.read_excel("Data\pokemon_data.xlsx", skip_rows = 1000, nrows = 1000, usecols = ['a','b'])

df_xlsx = pd.read_excel("Data\pokemon_data.xlsx")
print(df_xlsx.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [4]:
# READ TXT FILE
# creates dataframe with one column
# NOT RECOMMENDED

df_txt = pd.read_csv("Data\pokemon_data.txt")
print(df_txt.head(3))
print(df_txt.columns)

  #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
Index(['#\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary'], dtype='object')

In [5]:
# READ TXT FILE

df_txt_delimited = pd.read_csv("Data\pokemon_data.csv", delimiter = "\t")
print(df_txt_delimited.head(3))

  #,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0  1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,F...
1   2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,FALSE
2  3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,...

# Accessing Data

In [6]:
# print names of all column
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### 1. read one column

In [7]:
df.Name.head(10)

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

In [8]:
df["Name"].head(10)

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

In [9]:
# print col using iloc and column index:
df.iloc[:5, 1:2]

                    Name
0              Bulbasaur
1                Ivysaur
2               Venusaur
3  VenusaurMega Venusaur
4             Charmander

In [10]:
# print col using loc and col index:

### 2. read from multiple col

In [11]:
df[["Name", "HP","Attack"]].head(3)

        Name  HP  Attack
0  Bulbasaur  45      49
1    Ivysaur  60      62
2   Venusaur  80      82

In [12]:
df.iloc[:5,1:4]

                    Name Type 1  Type 2
0              Bulbasaur  Grass  Poison
1                Ivysaur  Grass  Poison
2               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN

In [13]:
df.iloc[:5,[1,4,5]]

                    Name  HP  Attack
0              Bulbasaur  45      49
1                Ivysaur  60      62
2               Venusaur  80      82
3  VenusaurMega Venusaur  80     100
4             Charmander  39      52

In [14]:
#. with loc and col index
#print(df.loc[:5, 1:2])

### 3. read rows

#### iloc

In [15]:
df.iloc[:5]   # same as df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [16]:
df.iloc[-5:]  # same as df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

#### loc

In [17]:
df.loc[:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [18]:
df.loc[-5:]  # not same as df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## 4. retrieve specific cell

In [19]:
df.iloc[0][1]   # row, col

'Bulbasaur'

In [20]:
df.iloc[0,1]

'Bulbasaur'

In [21]:
df.Name[0]

'Bulbasaur'

In [22]:
df["Name"][0]

'Bulbasaur'

## 5. iterrows

1. itertuples() is faster  than iterrows()
2. iterrows does not preserve data type across row but across col.
3. DO NOT TRY TO UPDATE df WHILE ITERATING OVER ROWS. MAY NOT WORK.

In [23]:
counter = 0
for index, row in df.iterrows():
    if counter == 5:
        break
    print(index)
    print(row)
    counter += 1

0
#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object
1
#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
2
#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object
3
#                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object
4
#                      4
Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object

## 6. itertuples

1. Faster than iterrows()
2. Preserves data type across rows

In [24]:
counter = 0
for row in df.itertuples():
    if counter == 5:
        break
    #print(index)
    print(row)
    counter += 1

Pandas(Index=0, _1=1, Name='Bulbasaur', _3='Grass', _4='Poison', HP=45, Attack=49, Defense=49, _8=65, _9=65, Speed=45, Generation=1, Legendary=False)
Pandas(Index=1, _1=2, Name='Ivysaur', _3='Grass', _4='Poison', HP=60, Attack=62, Defense=63, _8=80, _9=80, Speed=60, Generation=1, Legendary=False)
Pandas(Index=2, _1=3, Name='Venusaur', _3='Grass', _4='Poison', HP=80, Attack=82, Defense=83, _8=100, _9=100, Speed=80, Generation=1, Legendary=False)
Pandas(Index=3, _1=3, Name='VenusaurMega Venusaur', _3='Grass', _4='Poison', HP=80, Attack=100, Defense=123, _8=122, _9=120, Speed=80, Generation=1, Legendary=False)
Pandas(Index=4, _1=4, Name='Charmander', _3='Fire', _4=nan, HP=39, Attack=52, Defense=43, _8=60, _9=50, Speed=65, Generation=1, Legendary=False)

## 7. Difference between iloc and loc

1. iloc retrives data based on index.
2. loc retrives data based on textual information.

In [25]:
df.iloc[0:5,1:5]

                    Name Type 1  Type 2  HP
0              Bulbasaur  Grass  Poison  45
1                Ivysaur  Grass  Poison  60
2               Venusaur  Grass  Poison  80
3  VenusaurMega Venusaur  Grass  Poison  80
4             Charmander   Fire     NaN  39

In [26]:
df.loc[df["Type 1"] == "Fire"][:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

# Update Data

## Sort Data

In [27]:
df.sort_values("Type 1")[:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
600,540,Sewaddle,Bug,Grass,45,53,70,40,60,42,5,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
457,412,Burmy,Bug,NaN,40,29,45,29,45,36,4,False
132,123,Scyther,Bug,Flying,70,110,80,55,80,105,1,False
656,595,Joltik,Bug,Electric,50,47,50,57,50,65,5,False

In [28]:
df.sort_values(["Type 1", "Type 2"], ascending = [1,0])[:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
307,283,Surskit,Bug,Water,40,30,32,50,52,65,3,False
220,205,Forretress,Bug,Steel,75,90,140,60,60,40,2,False
228,212,Scizor,Bug,Steel,70,130,100,55,80,65,2,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
460,413,WormadamTrash Cloak,Bug,Steel,60,69,95,69,95,36,4,False

## Adding Column

### drop 'Total' col

In [29]:
def dropT():
    try:
        df = df.drop(columns = "Total")
    except:
        pass

### method 1

In [30]:
dropT()
starttime = time()
df.Total = df.Attack + df.Defense
endtime = time()
endtime - starttime

C:\Users\ASHUTO~1\AppData\Local\Temp/ipykernel_3704/3291579436.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.Total = df.Attack + df.Defense

0.0009992122650146484

In [31]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

### method 2

almost same time as method 1

In [32]:
dropT()
starttime = time()
df["Total"] = df['Attack'] + df['Defense']
endtime = time()
endtime-starttime

0.0009970664978027344

### method 3

In [33]:
dropT()
starttime = time()
df.Total = df.iloc[:,4:6].sum(axis = 1)
endtime = time()
endtime - starttime

0.0

In [34]:
df.iloc[:,4:6]

     HP  Attack
0    45      49
1    60      62
2    80      82
3    80     100
4    39      52
..   ..     ...
795  50     100
796  50     160
797  80     110
798  80     160
799  80     110

[800 rows x 2 columns]

In [35]:
# returns one column which is sum of all cols.
df.iloc[:,4:6].sum(axis = 1)  # adds along the cols

0       94
1      122
2      162
3      180
4       91
      ...
795    150
796    210
797    190
798    240
799    190
Length: 800, dtype: int64

In [36]:
# returns one row
# default value of axis

df.iloc[:,4:6].sum(axis = 0)  # adds all rows

HP        55407
Attack    63201
dtype: int64

### method 4

In [37]:
dropT()
starttime = time()
df.Total = df[['Attack','Defense']].sum(axis = 1)
endtime = time()
dropT
endtime - starttime

0.001995563507080078

# Save the csv files

In [38]:
df.to_csv('Data\pandasBasics.csv', index = False)

In [39]:
df.to_excel('Data\pandasBasics.xlsx', index = False)

In [40]:
df.to_csv('Data\pandasBasics.txt', index = False, sep = '\t')